{% set value = paragraph.field_select_list.value %}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
not paragraph.isPublished() ? 'paragraph--unpublished',
value|clean_class

]
%}

{% block paragraph %}
{{ attach_library('mytheme/aos') }}

<div{{ attributes.addClass(classes) }}>
  <div class="scrole-content">
    <div class="scrole-image" data-aos="fade-left">
      {{ content.field_media }}
    </div>
    <div class="scrole-text" data-aos="fade-right">
      <div class="scrole-heading">
        {{ content.field_ceo_caption }}
      </div>
      <div class="scrole-para">
        {{ content.field_hero_text }}
      </div>
    </div>
  </div>
</div>

  {% endblock paragraph %}